# Non-Python assets to include in the source distribution
include assets/__init__.py
include assets/Stag.ico
include CHANGELOG.md
include LICENSE
include README.md
include USAGE.md

# Exclude development/build artefacts
exclude main.spec
exclude stegcore-linux.spec
exclude stegcore-macos.spec
exclude stegcore-windows.spec
prune stegcore_venv
prune build
prune dist
prune tests
